# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/contentModel.xml
/modules.xml
/.idea.Test.iml
# Datasource local storage ignored files
/../../../../../../../../:\Users\Professional\RiderProjects\Test\.idea\.idea.Test.dir\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
